{% extends 'base.html' %}


{% block content %}
    
        <h5 class="card-title">Lista de Grupos</h5>
        {% if groups|length > 0 %}
        <p class="card-text">
        Aqui está a lista de <code>Grupos</code>
        cadastrados.
        </p>
        <table class="table table-hover">
            <thead>
            <tr>      
                <th scope="col">Usuario</th>
                <th>E-mail</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td> 
                    <td>{{ group.notes }}</td>
                    <td><a href="" class="btn"><i class="fas fa-fw fa-wrench"></i></a></td>                                  
                    <td><a href="" class="btn"><i class="fas fa-fw fa-trash"></i></a></td>                                  
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="text-center mt-5 mb-5 jumbotron">
        <h5>Nenhum <code>Grupo</code> cadastrado ainda.</h5>
    </div>
    {% endif %}
    <hr />
    <div class="text-right">
        <a class="btn btn-primary"
        href="{{ url_for('groups.new_group') }}">
        Cadastrar Grupos
        </a>
    </div>

{% endblock %}