{% extends 'base.html' %}


{% block content %}
    
<h5 class="card-title">Lista de usuários</h5>
<div class="text-right">
    <a class="btn btn-primary"
    href="{{ url_for('users.new_user2') }}">
    Cadastrar Usuários
    </a>
</div>
{% if users|length > 0 %}
<p class="card-text">
Aqui está a lista de <code>Usuários</code>
cadastrados.
</p>
<div class="input-group mb-4">
    <input type="text" class="form-control col-md-5" id="advanced-search-input" placeholder="Pesquise..." />
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" id="advanced-search-button" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div id="datatable">
      <table class="table table-hover table-sm">
        <thead>
        <tr>      
            <th scope="col">Usuario</th>
            <th>E-mail</th>
            <th>Ativo</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td> 
                <td>{{ user.email }}</td>
                {% if user.status == 1 %}
                <td><i class="fas fa-fw fa-check text-success"></i></td>
                {% else %}
                <td><i class="fas fa-fw fa-times text-danger"></i></td>
                {% endif %}
                <td><a href="{{ url_for('users.update_user', user_id=user.id) }}" class="btn"><i class="fas fa-fw fa-eye"></i></a></td>                                              
                <td><a href="{{ url_for('users.update_user', user_id=user.id) }}" class="btn"><i class="fas fa-fw fa-wrench"></i></a></td>                                  
                <td><a href="{{ url_for('users.delete_user', user_id=user.id) }}" class="btn"><i class="fas fa-fw fa-trash"></i></a></td>                                  
            </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  <hr/>
  <!-- Controles de Paginação -->
<div id="pagination-controls" class="pagination text-center">
    <button id="prev-page" class="btn btn-primary">Anterior</button>
    <span id="page-number"></span>
    <button id="next-page" class="btn btn-primary">Próximo</button>
</div>
{% else %}
<div class="text-center mt-5 mb-5 jumbotron">
    <h5>Nenhum <code>Usuário</code> cadastrado ainda.</h5>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pagination-user.js') }}"></script>
{% endblock %}