{% extends 'base.html' %}

{% block content %}
<h2>Cadastro de Usuário</h2>
<form method="post">
    
    <div class="row">
        <div class="form-col col-md-auto">
            <label for="username">Nome de Usuário:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Senha:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <label for="confirm">Confirme:</label><br>
            <input type="password" id="confirm" name="confirm" required><br><br>
            
            <input type="checkbox" id="status" name="status" value="1">
            <label for="status"> Ativo</label><br>
        </div>
    
        <div class="from-col col-md-auto">
            <label for="group-search">Localizar:</label>
            <input type="text" id="group-search" onkeyup="filterGroups()" placeholder="Localizar grupos..."><br>
            <label for="groups">Groups:</label><br>
            <div class="multi_select_box">
                <select class="multi_select" id="group-list" name="groups" multiple size="5">
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select><br>
        </div>
        </div>
    </div>
    <input type="submit" value="Cadastrar">
</form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search_group.js') }}"></script>
{% endblock %}
