{% extends 'base.html' %}


{% block content %}
    <div class="section col-md-5">
        <h5 class="card-title">Lista de usuários</h5>
        {% if users|length > 0 %}
        <p class="card-text">
        Aqui está a lista de <code>Usuários</code>
        cadastrados.
        </p>
        <table class="table table-hover">
            <thead>
            <tr>      
                <th scope="col">Usuario</th>
                <th>E-mail</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td> 
                    <td>{{ user.email }}</td>
                    <td><a href="" class="btn"><i class="fas fa-fw fa-wrench"></i></a></td>                                  
                    <td><a href="" class="btn"><i class="fas fa-fw fa-trash"></i></a></td>                                  
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="text-center mt-5 mb-5 jumbotron">
        <h5>Nenhuma <code>Categoria</code> cadastrado ainda.</h5>
    </div>
    {% endif %}
    <hr />
    <div class="text-right">
        <a class="btn btn-primary"
        href="">
        Cadastrar Categorias
        </a>
    </div>
</div>
{% endblock %}